<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">

    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>iotbay.controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>iotbay.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>iotbay.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>iotbay.controller.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestServlet</servlet-name>
        <servlet-class>iotbay.controller.GuestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemController</servlet-name>
        <servlet-class>iotbay.controller.AddItemToCartContoller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemFromCartController</servlet-name>
        <servlet-class>iotbay.controller.RemoveItemFromCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>iotbay.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOrderController</servlet-name>
        <servlet-class>iotbay.controller.CreateOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToExistingOrderController</servlet-name>
        <servlet-class>iotbay.controller.AddToExistingOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdersServlet</servlet-name>
        <servlet-class>iotbay.controller.OrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderController</servlet-name>
        <servlet-class>iotbay.controller.CancelOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortProductsServlet</servlet-name>
        <servlet-class>iotbay.controller.SortProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortOrdersController</servlet-name>
        <servlet-class>iotbay.controller.SortOrdersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveOrderController</servlet-name>
        <servlet-class>iotbay.controller.SaveOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestServlet</servlet-name>
        <url-pattern>/GuestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemController</servlet-name>
        <url-pattern>/AddItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemFromCartController</servlet-name>
        <url-pattern>/RemoveItemFromCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOrderController</servlet-name>
        <url-pattern>/CreateOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToExistingOrderController</servlet-name>
        <url-pattern>/AddToExistingOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdersServlet</servlet-name>
        <url-pattern>/OrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderController</servlet-name>
        <url-pattern>/CancelOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortProductsServlet</servlet-name>
        <url-pattern>/SortProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortOrdersController</servlet-name>
        <url-pattern>/SortOrdersController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveOrderController</servlet-name>
        <url-pattern>/SaveOrderController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>